*.aux
*.bbl
*.fls
*.blg
*.fdb_latexmk
*.glo
*.ist
*.toc
*.out
*.log
*.xdv
*.synctex.gz
*.lot
*.lof
!./example.pdf

.DS_Store

.vscode/
/practice_report.tex
/practice_report.pdf
/fonts-thesis.zip
/main.pdf
/习思想.md
/thesis-uestc.cls.bak
/thesis-uestc.cls.backup
/thesis-uestc_next.cls
/thesis-uestc copy.cls
/thesis-uestc copy 2.cls
/电子科技大学研究生学位论文撰写规范- 适用于中国学生 - 副本_031543351520.docx
/新规范.pdf

/main copy.tex