*.aux
*.bbl
*.fls
*.blg
*.fdb_latexmk
*.glo
*.ist
*.toc
*.out
*.log
*.xdv
*.synctex.gz
*.lot
*.lof
!./example.pdf

.DS_Store

.vscode/
/practice_report.tex
/practice_report.pdf
/fonts-thesis.zip
/main.pdf
/习思想.md